.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }